graphdatascience
alembic
bcrypt
fastapi
passlib
pgvector
pydantic[email]
pydantic-settings
python-dotenv
python-jose
python-multipart
scikit-learn
spacy
sqlalchemy
torch
transformers
uvicorn
asyncpg
sentence-transformers
psycopg2
